

#cardsContainer {
    display: grid;
   
    grid-template-rows: 350px 1fr;
    grid-template-columns:ã€€500px 1fr 500px;
  }
  #HaArea {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-left: auto;
    margin-right: auto;
  }
  #KaArea{
    grid-row: 1/ 2;
    grid-column: 2 / 3;
    margin-left: auto;
    margin-right: auto;
  }
  #KitokuArea{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin-left: auto;
    margin-right: auto;
}
#MiraArea{
    grid-row: 2 / 3;
    grid-column: 1/ 2;
    margin-left: auto;
    margin-right: auto;
}
#PaArea{
    grid-row: 2/ 3;
    grid-column: 2 / 3;
    margin-left: auto;
    margin-right: auto;
}
#YoArea{
    grid-row: 2 / 3;
    grid-column: 3/ 4;
    margin-left: auto;
    margin-right: auto;
}