#cardsContainer {
    display: grid;
    height: auto;
    width:auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  

  #HaArea {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-left: auto;
    margin-right: auto;
  }
  #KaArea{
    grid-row: 1/ 2;
    grid-column: 2 / 3;
    margin-left: auto;
    margin-right: auto;
  }
  #KitokuArea{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin-left: auto;
    margin-right: auto;
}
#MiraArea{
    grid-row: 2 / 3;
    grid-column: 1/ 2;
    margin-left: auto;
    margin-right: auto;
}
#PaArea{
    grid-row: 2/ 3;
    grid-column: 2 / 3;
    margin-left: auto;
    margin-right: auto;
}
#YoArea{
    grid-row: 2 / 3;
    grid-column: 3/ 4;
    margin-left: auto;
    margin-right: auto;
}