/*@import "material-components-web/material-components-web";*/

.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}
#main {
	width: 980px;
	margin: 0 auto;
}

#Picture{
  width: 600px;
  height: 400px;
}

#Top{
  font-size: 60px;
	line-height: 1.5;
  margin-top: 5px;
  font-family: 'Meiryo', serif;
}
#subtop{
  font-size: 40px;
	line-height: 1.5;
  margin-top: 5px;
  font-family: 'Meiryo', serif;
}

#Description {
	font-size: 18px;
	line-height: 1.5;
  margin-top: 7px;
  margin-bottom: 7px;
}

#Spot{
  font-size: 40px;
	line-height: 1.2;
	margin-bottom: 10;
	font-family: 'Meiryo', serif;
}
 #Picture{
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.8);
}

/* ページボディ */

#BodyMain:after {
	content: "";
	clear: both;
	display: block;
}
#BodyMain {
	width: 720px;
	float: left;
}

#BodyMain .articleDetail{
	margin: 50px 0;
}

#pageBodySub {
	width: 220px;
	float: right;
}



#BodySub {
  margin-top: 40px;
  width: 220px;
	float: right;
}
/* イベント */
#BodySub .eventsList ul {
	list-style: none;
	padding: 0;
}
#BodySub .eventsList ul li {
	font-size: 12px;
	line-height: 1.5;
	margin: 10px 5px;
}
#BodySub .eventsList ul li time {
	font-weight: bold;
	display: block;
}
#introduction{
  font-size: 6px;
  line-height: 1.5;
  margin: 10px 5px;
}
